:root{
  --branding-color:#D8D2DC;
  --primary-color:#414B67;
  --accent-color:#F5F2EB;
  --spice-color:#E9948B;
  --primary-font-family:"Lato", sans-serif;
  --secondary-font-family:"Roboto", sans-serif;
}
h1{
  font-family:var(--primary-font-family);
  font-weight: 400;
  font-style:normal

}
h2{
  font-family:var(--secondary-font-family);
  font-weight:lighter;
  
}
h3{
  font-family:var(--branding-color);
  font-style: italic;
}

h2{
  font-size: 56px;
  text-align: center;
}
p{
  font-weight: normal;
  font-size: 20px;
  font-family: var(--secondary-font-family) ;
line-height: 40px;
}

.hero {
background:var(--primary-color);
width: 0, 500px;
text-align:center;
padding: 175px 20px;

}
.hero h1{
  font-size: 64px;
  color:var(--accent-color);
  line-height: 1.5;
}
.hero h2{
  font-size: 56px;
  font-style:normal;
  color:var(--accent-color);
  line-height: 1.5;
  margin: 0;
}
.hero h3{
  color:var(--accent-color);
  font-size: 28px;
  line-height: 2;
  margin: 0;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 5px;
  color:var(--spice-color);
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding:12px 20px;
  box-shadow: #D8D2DC 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  
}
.btn-branding:hover{
  color: var(--spice-color);
  background: var(--accent-color);
  transition: 200ms ease-in-out;
  
}
.btn-branding-outline {
  line-height: 30px;
  padding:12px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-family: var(--primary-font-family);
  font-size: 20px;
  background: var(--spice-color);
  color: var(--primary-color);

}

.btn-branding-outline:hover{
 color: var(--spice-color);
  background: var(--primary-color);
  transition: 200ms ease-in-out; 
}
.project-description{
  padding: 60px 90px;
}
.project-description1{
  padding: 170px 100px;
}
.project-description2{
  padding: 100px 80px;
}
@media (max-width:900px){

  h1{
    font-size: 48px;
    line-height: 2;
  }
  .project-description{
    padding:0;
  text-align: center;
}
.hero {
background:var(--primary-color);
padding: 80px 20px;
}
.content{
  text-align: center;
  padding:0;
}
}

.content h1{ 
  font-size: 54px;
  font-family: var(--secondary-font-family);
  color:var(--branding-color);
  line-height: 80px;
  text-align: center;

  }
  .content h2{
    font-size: 24px;
    font-family:var(--primary-font-family);
    color:var(--spice-color);
    text-align: center;
  }
  .content h3{
    color: var(--branding-color);
    font-size: 26px;
    line-height: 1.5;
    margin-left: 250px;

  }
  .content p{
    font-family: var(--secondary-font-family);
    font-size:14px;
    line-height: 1.5;
    color: var(--branding-color);

  }
  .content-container {
background:var(--primary-color);
width: 0, 500px;
text-align: center;
padding: 175px 20px;
  }
  .content-container-content{
    margin: 15px;
    text-align: center;
  }
  img {
    border-radius:0.375rem;
  }



/*font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
#414B67- blue
#F5F2EB--cream
#C6CACE- greyish
#97C0D0-lighterblue
#D8D2DC-pinkish grey